.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* allows wrapping */
}

.pListItem {
  flex: 1 1 calc(20% - 20px); /* 5 per row by default */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles > h1 {
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}

/* Tablet */
@media (max-width: 768px) {
  .pListItem {
    flex: 1 1 calc(50% - 20px); /* 2 per row */
  }
  .pListImg {
    height: 140px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .pListItem {
    flex: 1 1 100%; /* full width */
  }
  .pListImg {
    height: 130px;
  }
}
