.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* allows wrapping */
}

.fpItem {
  flex: 1 1 calc(25% - 20px); /* 4 per row by default */
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fpImg {
    /* width: 100%; */

  width: 250px;
  height: 250px;
  object-fit: cover;
}

.fpName {
  color: #333;
  font-weight: bold;
}

.fpCity {
  font-weight: 300;
}

.fpPrice {
  font-weight: 500;
}

.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating > span {
  font-size: 14px;
}

/* Tablet */
@media (max-width: 768px) {
  .fpItem {
    flex: 1 1 calc(50% - 20px); /* 2 per row */
  }
  .fpImg {
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .fpItem {
    flex: 1 1 100%; /* full width */
  }
  .fpImg {
    height: 180px;
  }
}
